# Node modules
node_modules/

# Environment variable files
.env
*.env
.env.*

# Build output
build/
dist/

# OS/Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
coverage/
priceapp/